appdirs==1.4.4
numexpr==2.10.2
numpy==1.26.4
protobuf==3.20.3
pyarrow==19.0.1
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
setuptools==69.5.1
wheel==0.43.0
Flask==3.1.1
xgboost==2.1.4
pandas== 2.2.3
scikit-learn== 1.6.1
gunicorn